.sidebar
	.sidebar-menu
		nav
			//======= menu item ======
			button.active(data-control="1")
				span.icon-cell
					+pulse
				span.text-small Пульс
			//======= menu item ======
			button(data-control="1")
				span.icon-cell
					+referal
				span.text-small Рефералы
			//======= menu item ======
			button(data-control="1")
				span.icon-cell
					+chat
				span.text-small Чат
			//======= menu item ======
			button(data-control="1")
				span.icon-cell
					+finance
				span.text-small Финансы
			//======= menu item ======
			button(data-control="1")
				span.icon-cell
					+assets
				span.text-small Активы