.page-content__chat{
	padding-left: 16px;
	padding-right: 16px;
}
.chat-block__list{
	h5{
		font-style: italic;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 15px;
		text-align: center;
		letter-spacing: 1px;
		text-align: center;
		color: #1E2022;	
	}
	.chat-block__list-item{
		display: flex;
		flex-direction: column;
	}
	.chat-text{
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}
	.chat-text__time{
		width: 45px;
		white-space: nowrap;
		font-size: 9px;
		line-height: 11px;
		letter-spacing: 0.8px;
		margin-right: 16px;

		color: #77838F;
	}
	.chat-text__content{
		padding: 20px;
		position: relative;
		p{
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 1px;	
		}
		
	}
	.chat-text--user .chat-text__content{
		background: #4FB8FF;
		border-radius: 10px 10px 0px 10px;
		width: 280px;
		p{color: #fff;}
	}
	.chat-text--manager .chat-text__content {
		background-color: #fff;
		background: #F0F0F0;
		width: 236px;
		border-radius: 0px 10px 10px 10px;
		p{color: #77838F;}
		span{
			position: absolute;
			z-index: 2;
			left: 20px;
			top: 3px;
			font-size: 12px;
			line-height: 16px;
			color: #2980B9;
		}
		
		
	}
	.chat-text--manager{
		.chat-text__avatar {
			order: 1;
			margin-right: 16px;
		}
		.chat-text__content {
			order: 2;
		}
		.chat-text__time {
			order: 3;
			margin-right: 0;
			margin-left: 16px;
		}

		
	}
	.chat-text--user{
		margin-left: auto;
		
	}
	.chat-text--manager{}
}
.chat-form{
	position: relative;
	.chat-form-input{
		
		input{
			background: #FFFFFF;
			box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.05);
			border-radius: 24px;
			height: 48px;
			width: 100%;
			padding-left: 67px;
			padding-right: 67px;
			border: 0;
			font-size: 14px;
			color: #B6B7B8;
			&::placeholder{
				font-size: 14px;
				color: #B6B7B8;
			}
		}
	}
	/* СКРЕПКА НА ФОРМЕ*/
	.chat-form-attach  {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 2;
		
		&:hover{
			opacity: .7;
		}
	}

	.chat-form-attach input[type=file] {
		outline: 0;
		opacity: 0;
		pointer-events: none;
		user-select: none
	}

	.chat-form-attach label {
		width: 18px;
		height: 18px;
		display: inline-block;
		background-image: url('../img/chat-attach.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		cursor:pointer;
	}

	.chat-form-mic{
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-right: 5px;
		position: relative;
		&:after{
			content: '';
			right: 0;
			width: 1px;
			height: 20px;
			background-color:#B6B7B8;
			position: absolute;
			right: 4px;
			top: 10px;
		}
		button{
			display: block;
			width: 18px;
			height: 18px;
			background-image: url('../img/mic.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			cursor:pointer;
		}

	} 
	.chat-form-btn{
		button {
			display: block;
			width: 40px;
			height: 40px;
			background-image: url('../img/send.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}
	.chat-form-right{
		display: flex;
		align-items: center;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
	}
}