.page-content{
	padding-top: 24px;
	padding-left: 16px;
	padding-right: 16px;
	
	@media(min-width:1364px) {
		padding-top: 28px;
		padding-left: 64px;
		padding-right: 64px;
	}
	
}
.page-content__frame{
	display: none;
	&.active{display: block;}
	
}
.user-profile__tabs{
	@media(min-width:768px) {
		width: 70%;
	}

	@media(min-width:1200px) {
		width: 75%;
	}
}
.page-content.d-flex.active{
	display: block;
	@media(min-width:768px) {
		
			display: flex;
		
	}
}
.user-profile__statistic {
	overflow: auto;	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -15px;
	width: calc(50% + 50vw);
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
	@media(min-width:768px){
		width: auto;
	}
	@media(min-width:1200px) {
		overflow: unset;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
}
.user-profile__section {
	@media(min-width: 1200px){
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.cta-card{margin-top: 18px;}
}
.assets-block{
	@media(min-width:768px) {
		.assets-card+.assets-card{margin-top: 8px;}
	}
	
}
.assets-block__title{
	max-width: 343px;
	.title-3{margin-bottom: 8px;}
	.d-flex{
		justify-content: space-between;
		align-items: center;
	}
	@media(min-width:768px){
		max-width: unset;
		width: 492px;
		margin-bottom: 8px;
	}
}
.user-profile__section-left{
	padding-top: 18px;
	@media(min-width:1200px){
		padding-top: 0;
		margin-right: 25px;
	}
	@media(min-width:1365px) {margin-right: 37px;}
}
.user-profile__section-right{
	@media(min-width:1200px) {padding-top: 60px;}
}
/*=================REFERAL==========*/
.card-referal {
	display: flex;
	width: 343px;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	background: #FFFFFF;

	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16),
		0px 2px 4px rgba(0, 0, 0, 0.12),
		0px 1px 8px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	.text-small {
		letter-spacing: -0.2px;
		color: #9a9d9d;
	}

	@media(min-width:768px) {
		width: 345px;

	}
}

.referal-block--empty .referal-block__title {
	// background: rgba(240, 240, 240, 0.55);
	margin-bottom: 28px;
	
	

	.title-2 {
		margin-bottom: 36px;

	}

	.text-16 {
		max-width: 490px;
		color: #666666
	}
}

.card-referal__icon {
	cursor: pointer;
	transition: .3s;

	&:hover {
		opacity: .65;
	}
}

.text-info {
	align-items: center;

	.info-icon {
		margin-right: 8px;
	}

	.text-16 {
		color: #666666;
	}
}

.referal-block--empty .referal-block {
	
	padding-top: 40px;
	@media(min-width:768px){
		padding-left: 35px;
		max-width: unset;
	}
	.text-info{
		padding-top: 41px;
		width: 345px;
	}
}

.referal-block__btn {
	padding-top: 28px;
}
.referal-block__btn{width: 345px;}
/* referal not empty*/
.referal-block__info{
	padding-top: 16px;
	padding-bottom: 16px;
}

/* user actions list*/
.filter-menu{
	
	align-items: center;
	button{
		font-family: $med;
		font-size: 14px;
		height: 40px;
		border:2px solid transparent;
		text-align: center;
		letter-spacing: 0.75px;
		text-transform: uppercase;
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
		transition: .3s;
		&:hover{
			border-color: #4FB8FF;
		}
		&.active{
			background: #4FB8FF;
			border-color: #4FB8FF;
			color: #fff
		}
	}
	button+button{
		margin-left: 16px;
	}
}
.referal-block .user-actions{
	padding-top: 28px;
	.title-2{
		margin-bottom: 12px;
	}
}
.user-actions__list .user-actions__cards {
	padding-top: 28px;
}