.page-content{
	padding-top: 24px;
	padding-left: 16px;
	padding-right: 16px;
	
	@media(min-width:1364px) {
		padding-top: 28px;
		padding-left: 64px;
		padding-right: 64px;
	}
	
}
.page-content__frame{
	display: none;
	&.active{display: block;}
	
}
.user-profile__tabs{
	@media(min-width:768px) {
		width: 70%;
	}

	@media(min-width:1200px) {
		width: 75%;
	}
}
.page-content.d-flex.active{
	display: block;
	@media(min-width:768px) {
		
			display: flex;
		
	}
}
.user-profile__statistic {
	overflow: auto;	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -15px;
	width: calc(50% + 50vw);
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
	@media(min-width:768px){
		width: auto;
	}
	@media(min-width:1200px) {
		overflow: unset;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
}
.user-profile__section {
	@media(min-width: 1200px){
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.cta-card{margin-top: 18px;}
}
.assets-block{
	@media(min-width:768px) {
		.assets-card+.assets-card{margin-top: 8px;}
	}
	
}
.assets-block__title{
	max-width: 343px;
	.title-3{margin-bottom: 8px;}
	.d-flex{
		justify-content: space-between;
		align-items: center;
	}
	@media(min-width:768px){
		max-width: unset;
		width: 492px;
		margin-bottom: 8px;
	}
}
.user-profile__section-left{
	padding-top: 18px;
	@media(min-width:1200px){
		padding-top: 0;
		margin-right: 25px;
	}
	@media(min-width:1365px) {margin-right: 37px;}
}
.user-profile__section-right{
	@media(min-width:1200px) {padding-top: 60px;}
}
/*=================REFERAL==========*/
.referal-block{
	max-width: 345px;
	padding-top: 40px;
	@media(min-width:768px){
		padding-left: 35px;
		max-width: unset;
	}
	.text-info{
		padding-top: 41px;
		width: 345px;
	}
}
.referal-block__body,
.referal-block__btn {
	padding-top: 28px;
}
.referal-block__btn{width: 345px;}