//================ USER CABINET CONTENT =================
.page-content{
	max-width: 1440px;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;
	@media(min-width:1364px) {
		padding-left: 64px;
	}
	@media(min-width:1440px) {
		padding-left: 0px;
	}
	
}
.page-content__frame{
	display: none;
	&.active{display: block;}
	
}
.user-profile__tabs{
	width: 100%;
	padding-bottom: 65px;
	@media(min-width:768px) {
		width: 70%;
		padding-left: 16px;
		padding-bottom: 0;
	}

	@media(min-width:1200px) {
		width: 75%;
		padding-left: 8px;
	}
		@media(min-width:1440px) {
			width: 78%;
			padding-left: 8px;
		}
}
.page-content.d-flex.active{
	display: block;
	@media(min-width:768px) {
		
			display: flex;
		
	}
}
/*====================PULSE===================*/
.page-content__pulse{
	margin-top: 24px;
	padding-right: 16px;
	
	@media(min-width:1365px){
		padding-right: 64px;
	}
}
.user-profile__statistic {
	overflow:hidden;
	overflow-x: auto;	
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: -15px;
	width: calc(50% + 50vw);
	scrollbar-width: none;
	padding-left: 16px;
	&::-webkit-scrollbar {
		display: none;
	}
	@media(min-width:768px){
		width: auto;
		padding-left: 0;
	}
	@media(min-width:1200px) {
		overflow: unset;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
	}
}
.user-profile__section {
	padding-left: 16px;
	@media(min-width: 768px) {padding-left: 0;}
	@media(min-width: 1200px){
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.cta-card{margin-top: 18px;}
}
.assets-block{
	@media(min-width:768px) {
		.assets-card+.assets-card{margin-top: 8px;}
	}
	
}
.assets-block__title{
	max-width: 343px;
	.title-3{margin-bottom: 8px;}
	.d-flex{
		justify-content: space-between;
		align-items: center;
	}
	@media(min-width:768px){
		max-width: unset;
		width: 492px;
		margin-bottom: 8px;
	}
}
.user-profile__section-left{
	padding-top: 18px;
	@media(min-width:1200px){
		padding-top: 0;
		margin-right: 25px;
	}
	@media(min-width:1365px) {margin-right: 37px;}
}
.user-profile__section-right{
	@media(min-width:1200px) {padding-top: 60px;}
}
/*================= referrAL ==========*/
.referral-block__header{
	background: rgba(240, 240, 240, 0.55);
	@media(min-width:768px){
		margin-top: 28px;
	}
}
.referral-block__title {
	padding-top: 40px;
	position: relative;
	padding-left: 16px;
	padding-bottom: 40px;
	@media(min-width:1365px){
		padding-left: 40px;
	}
	.title-2 {
		margin-bottom: 36px;
	}

	.text-16 {
		max-width: 430px;
		color: #666666
	}
}
.referral-block__title:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:  rgba(240, 240, 240, 0.55);
	transform: translateY(100%);
	height: 40px;
}
.referral-block__body{
	position: relative;
	z-index: 2;
	padding-left: 16px;
	padding-right: 16px;
	@media(min-width:1365px){
		padding-left: 40px;
	}
}
.referral-block__footer{
	padding-top: 28px;
	padding-left: 16px;
	padding-right: 16px;
	@media(min-width:1365px){
		padding-left: 40px;
	}
	.text-info{
		padding-top: 12px;
		width: 343px;
	}
}
.card-referral {
	display: flex;
	width: 343px;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	background: #FFFFFF;

	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16),
		0px 2px 4px rgba(0, 0, 0, 0.12),
		0px 1px 8px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	.text-small {
		letter-spacing: -0.2px;
		color: #9a9d9d;
	}

	@media(min-width:768px) {
		width: 345px;

	}
}

.page-content__referrals  .action-card+.action-card {
	margin-top: 8px;
}

.card-referral__icon {
	cursor: pointer;
	transition: .3s;

	&:hover {
		opacity: .65;
	}
}

.text-info {
	align-items: center;

	.info-icon {
		margin-right: 8px;
	}

	.text-16 {
		color: #666666;
	}
}

.referral-block__btn {
	padding-top: 28px;
}
.referral-block__btn{width: 345px;}

.referral-block__info{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	margin-bottom: 28px;
	@media(min-width:1365px){
		padding-left: 64px;
	}
}

/* user actions list*/
.filter-menu{
	
	align-items: center;
	button{
		font-family: $med;
		font-size: 14px;
		height: 40px;
		border:2px solid transparent;
		text-align: center;
		letter-spacing: 0.75px;
		text-transform: uppercase;
		padding-left: 10px;
		padding-right: 10px;
		white-space: nowrap;
		transition: .3s;
		&:hover{
			border-color: #4FB8FF;
		}
		&.active{
			background: #4FB8FF;
			border-color: #4FB8FF;
			color: #fff
		}
	}
	button+button{
		margin-left: 16px;
	}
}
.referral-block__footer .user-actions {
	padding-top: 28px;
	.title-group{
		margin-bottom: 12px;
		align-items: center;
		justify-content: space-between;
		width: 343px;
		@media(min-width:768px) {
			width: 490px;
		}
		
	}
	.title-group__icon{
		cursor:pointer;
		&:hover{
			opacity: .5;
		}
	}
	.action-card{
		width: 343px;
		@media(min-width:768px){
			width: 490px;
		}
	}
}
.user-actions__list .user-actions__cards {
	padding-top: 28px;
}