.user-profile
	include ../sections/_header-profile
	.page-content.d-flex
		.page-content__sidebar
			include ../blocks/_aside-menu
		.user-profile__tabs
			.page-content__frame
				.page-content__one-assets