.user-profile
	include ../sections/_header-profile
	.page-content.d-flex
		include ../blocks/_aside-menu
		.user-profile__tabs
			include ../lk/_pulse.pug
			include ../lk/_referal.pug
			include ../lk/_chat.pug
			include ../lk/_finance.pug
			include ../lk/_assets.pug
			