// ======= BUTTONS =======
.button{
	height:40px;
	line-height:40px;
	text-transform: uppercase;
	border: 1px solid #F0F0F0;
	border-radius: 5px;
	font-family: $med;
	font-size: 14px;
	padding-left: 12px;
	padding-right: 12px;
}
.button-color{
	height: 64px;
	background: #89ED5B;
	box-shadow: 0px 1.575px 3.15px rgba(0, 0, 0, 0.16),
	0px 3.15px 6.3px rgba(0, 0, 0, 0.12),
	0px 1.575px 12.6px rgba(0, 0, 0, 0.1);
	border-radius: 6.3px;
	letter-spacing: 1.18125px;
	text-transform: uppercase;
	padding-left: 19px;
	padding-right: 19px;
	font-size: 22px;
	font-family: $med;
}