.page-content__frame(data-content="referal")
	.referal-block
		.referal-block__title
			h2.title-2 Пригласите друзей.<br>Получайте криптовалюту.
			p.text-16 Мы выплачиваем 6% от заработка ваших рефералов в течении двух лет после их регистрации
		.referal-block__body
			.card-referal
				.card-referal__text
					p.text-small Партнёрская ссылка
					p.referal-link.text-16 https://gamehotel.ru/p448410
				.card-referal__icon
					+copy
			.referal-block__btn
				button.btn.btn--icon.btn--dark(type="button") Отправить ссылку
			.text-info.d-flex
				.info-icon
					+info
				p.text-16 У вас пока нет рефералов, но мы верим что они скоро появятся :) 