.sidebar{
	padding-left: 8px;
	padding-right: 8px;
	background-color: #fff;
}
.sidebar-menu {
	nav{
		button{
			display: flex;
			align-items: center;
			border-radius: 4px;
			height: 40px;
			width: 100%;
			padding-left: 11px;
			padding-right: 11px;
			span +span {margin-left: 11px;}
			.text-cell{

			}
		}
		button:hover{
			opacity: .7;
		}
		button.active{
			background: $lightGrey;
			&:hover {
				opacity: 1;
			}
			
		}
	}
}