.sidebar{
	background-color: #FFEFD9;
	padding: 4px;
	height: 56px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	@media(min-width:768px){
		position: relative;
		padding-left: 8px;
		padding-right: 8px;
		background-color: #fff;
		width: 30%;
		max-width: 304px;
	}
	@media(min-width:1200px) {
		width: 25%;
	}
}
.sidebar-menu {
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		button{
			display: flex;
			flex-direction: column;
			align-items: center;
			
			border-radius: 4px;
			height: 48px;
			width: 19.5%;
			
			padding-top: 5px;
			padding-bottom: 5px;
			.text-small{
				font-size: 12px;
				line-height: 8px;
				text-align: center;
				letter-spacing: 0.2px;
				color: #263238;
				user-select: none;
			}
		}
		button:hover{
			opacity: .7;
		}
		button.active{
			background: #2980B9;
			svg path{fill: #fff;}
			span{color: #fff;}
			&:hover {
				opacity: 1;
			}
			
		}
	}
}
@media(min-width:768px){
	.sidebar-menu nav {
		display: block;
		button{
			flex-direction: row;
			padding-left: 11px;
			padding-right: 11px;
			width: 100%;
			span+span {
				margin-left: 11px;
			}
			.text-small {
				font-size: 14px;
				line-height: 24px;
			}
		}
		button.active {
			background: $lightGrey;
			span {
				color: #263238
			}
			svg path {
				fill: #979797;
			}
		}
	}
}